#deals_div{
    overflow: hidden;
}
#deals_div figure{
    position: relative;
    width:500%;
    margin: 0;
    left: 0;
    animation: 20s deals_div infinite;
}
#deals_div figure img{
    float: left;
    width:20%;
}
@keyframes deals_div{
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left: -100%
    }
    50%{
        left:-200%
    }
    70%{
        left:-200%
    }
    75%{
        left:-300%
    }
    95%{
        left:-300%
    }
    100%{
        left:-400%
    }
}
#container{
    
    height:500px;
    height: auto;
    
}
#head{
    font-size: x-large;
}
#latest_div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    margin-top: 20px;
    gap:20px
}
#latest_div div img{
    width:72%;
    height:80%;
    margin-top: 20px;
}
#latest_div div {
    border: 1px solid rgb(205, 199, 199);
    text-align: center;
    
}
#view{
    font-size: x-large;
    font-weight: lighter;
}
#brands{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 200px;
    
    gap:20px;
    border: 1px solid rgb(205, 199, 199);
    margin-top: 30px;
}
#brands div img{
    width:72%;
    height:80%;
    margin-top: 20px;
}
#brands div{
    border: 1px solid rgb(205, 199, 199);
   text-align: center;
}
#bigbox{
    display: grid;
    grid-template-columns: 75% 25%;
    
}
.corner{
    width:100%;
    height: 250px;
}
#mobiles{
display: grid;
grid-template-columns: repeat(5,1fr);
height: 200px;
border: 1px solid black;
}
