*{
    /* margin: 0;
    padding: 0; */
}
#footer_container{
    height: 460px;
    width: 100%;
    border: 1px solid blue;
    display: flex;
    background-color: #003380 ;
    color: white;
  
}
#footer_container>div{
    padding-left: 20px;
    border: 0px solid red;
    width: 25%;
    font-size: 13px;
    line-height: 30px;
    font-family: sans-serif;
    
}
h2{
    font-size: 15px;
}
#footer_container>div>h1{
    font-size: 18px;
    margin-top: 40px;
}
h1~i{
    font-size: 20px;
    margin-left: 10px;
}
#h11{
    
    width: 430px;
    padding-top: 91px;
    border: 0px solid red;
    
}
#img22{
    width: 45%;
}
#img33{
    width: 45%;
}
#bottom_b{
    height: 153px;
    width: 100%;
    background-color: #0a244a;
    text-align: center;
    color: white;
    
}
#bottom_b>h2{
    margin-bottom: 10px;
    padding: 5px 5px;
    font-family: sans-serif;
}
hr{
    margin-top: 20px;

}
hr~p{
    margin-top: 10px;
    font-size: 14px;
}


