.product-container{
    width:100%;
    height:auto;
   
}
.product-details{
    width:100%;
    margin-left: 2%;
    
    display:grid;
    grid-template-columns:42% 58%;
    grid-template-rows: repeat(1,80%);
}

.watch-heading{
    width:100%;
    margin-left: 2%;
  
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,80%);
}

.watch-image>img{
    width:60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#more{
    display:none
}
.blue-font{
    color: #337ab7;
    cursor: pointer;
    font-size: 14px;
}
.blue-font:hover{
    text-decoration: underline;
}
.watch-price>h2{
    color: #003380;
    font-size: 25px;
    font-weight: 600;
}
.mrp{
    color: #272727;
    font-size: 16px;
}
.actaul-price{
    color: #272727;
    font-size: 16px;
    text-decoration: line-through;
}
.offers{
    color: #467348;
    font-weight: 600;
}
.watch-price>h5{
    color: #272727;
    font-size: 16px;
}
#pincode-box{
    color: #333;
    font-family: Roboto,"system-ui",sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 80px 10px 80px;
    margin-bottom: 2%;
   
}
#red{
    background: #e42529;
    padding: 15px 12px;
    width: 49%;
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
#orange{
    padding: 10px 20px 10px 20px;
    background: #fc6027;
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-weight: 600;
    padding: 15px 12px;
    text-transform: uppercase;
    width: 49%;
}
.watch-details>p{
    color: #333;
    font-family: Roboto,"system-ui",sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.watch-details>h3{
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2em;
    margin-top: 20px;
    padding: 0;
}
.comparision-details>img{
    width:2%;
    height:30px;
    margin-top: 1%;
    padding-right: 1%;
}
.comparision-details>img+img{
    width:3%;
}
.comparision-details{
    display: flex;
}
.vl{
    border-left: 1px solid rgb(54, 53, 53);
    height: 20px;
    margin-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
#checkbox{
    padding-left: 1%;
    padding-right: 1%;
}
#print{
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
}
.watch-description>h4{
    font-size: 15px;
    font-weight: 700;
    margin: 17px 0 6px;
    color: #333;
    font-family: Roboto,"system-ui",sans-serif;
    font-size: 14px;
   
}
.watch-description>ul>li{
    color: #333;
    font-family: Roboto,"system-ui",sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.watch-description>p{
    color: #333;
    font-family: Roboto,"system-ui",sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.product1 {

    position: relative;
    overflow:visible;
    padding: 5px;
   width:90%;
    height:100px;
    margin: auto;
    padding-left: 2%;
   
 
    
  }
  .product-last1 {

    position: relative;
    overflow:visible;
    padding: 5px;
   width:80%;
    height:300px;
    margin: auto;
   
   
 
    
  }
  
  
  
  .product-container1 {
 
    display: flex;
    overflow-x: auto;
    scroll-behavior:smooth;
    
  
 
   
  }
  .product-container1::-webkit-scrollbar{
    display: none;
  }
  
  
  
  .product-card1 {
    flex: 0 0 auto;
    width: 30%;
    height: 100px;
    margin-right: 20px;
   
  }
  
  .brand_promise{
    color: #003380;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width:100%;
    
  }
  
  .product-image1 {
    position: relative;
    width: 50%;
    height: 100px;
    overflow: hidden;
    margin: auto;
    cursor: pointer;
   
    
  }
  .product-image1:hover{
    width:100%;
  }
  
  .product-thumb1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .pre-btn1>img{
    width:90%;
  
    padding:100% 20% 100% 20%;
  box-shadow: 0 1px 5px 0 #898989;
  }
  .nxt-btn1>img{
    width:90%;
   
    padding:100% 20% 100% 20%;
    box-shadow: 0 1px 5px 0  #898989;
  }
  
 
  
  .product-card1:hover .card-btn {
    opacity: 1;
  }
  
  
  
  
  .product-brand1 {
    text-transform: uppercase;
  }
  .pre-btn1,
  .nxt-btn1 {
    border: none;
    width: 2vw;
    height: 100%;
    position: absolute;
    top: 0;
    margin-bottom: 10%;
   
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 25;
    overflow: hidden;
    
  }

  
  .pre-btn1 {
   left: -25px;
    transform: rotate(180deg);


  }
  
  .nxt-btn1 {
    right: -25px;
  }
  
  .pre-btn1 img,
  .nxt-btn1 img {
    opacity: 1;
   
  }
  
 .last-btn1{
  
    margin: auto;
   
    width:23%;
    height:100px
   
 }
  .last-btn1>button{
    width:100%;
    height:45px;
    background-color: white;
    color: #faa619;
    border: 1px solid #D6D8F0;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    margin-top: 10%;
    
  }
  .boxshadow1{
  
    width:100%;
    height:120px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }
  .share{
    display:flex;
    width:40%;
 
    color: #666;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5%;
  }
.slideshow>img{
    width:40%;
    border:1px solid
}
.demo-video>img{
    width:50%;
  
   
}
.similar>img{
    width:50%;
  
}
.demo-video{
    padding-right: 20%;
}
.product-specification{
text-align: left;
margin-left: 2%;
}
.product-classification{
    display: flex;
   
}
.product-classification>div{
    padding: 10px 30px 10px 30px;
    font-size: 14px;
    color: #333333;
    font-family: Roboto,"system-ui",sans-serif;
    font-weight: 500;
}
.general-specification{
    display:flex
}
.general-specification>div{
    width:30%;
    padding: 10px 30px 10px 30px;
   line-height: 0.5em;
    
}
.right-side{
   
   padding-left: 10%;
   line-height: 1em;
    margin-left: 5%;
}
.general-specification>div>p{
    color: #575757;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3em;
    
    vertical-align: top;
    white-space: normal;
    font-family: Roboto,"system-ui",sans-serif;
}
.bold-letters{
    color: #575757;
    font-family: Roboto,"system-ui",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 0.5em;
    margin-left: 2%;
}
.paragraph{
    width:73%;
    color: #575757;
    font-size: 15px;
    line-height: 1.4em;
    font-family: Roboto,"system-ui",sans-serif;
    margin-left: 2%;
}
.specification-heading{
    font-size: 20px;
    color: #333333;
    font-weight: 500;
    font-family: Roboto,"system-ui",sans-serif;
    margin-left: 2%;
}
.product {

    position: relative;
    overflow:visible;
    padding: 5px;
   width:90%;
    height:500px;
    margin: auto;
    padding-left: 2%;
   
 
    
  }
  .product-last {

    position: relative;
    overflow:visible;
    padding: 5px;
   width:95%;
    height:380px;
    margin: auto;
   
   
 
    
  }
  .product-category {
  
    color: #333;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: .7em;
    margin-bottom: 20px;
    padding: 0 10px 2px 0;
    text-transform: uppercase;
    font-family: Roboto,"system-ui",sans-serif;
  }
  .product-category-heading{
    color: #333;
   
    font-size: 24px;
    font-weight: 400;
    line-height: .7em;
    margin-bottom: 20px;
   font-weight: 700;
    text-transform: uppercase;
    font-family: Roboto,"system-ui",sans-serif;
    text-align: center;
    margin-bottom: 5%;
  }
  .view{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    color: #003380;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    font-family: Roboto,"system-ui",sans-serif;
  }
  .view:hover{
    color:red;
  }
  .product-container {
 
    display: flex;
    overflow-x: auto;
    scroll-behavior:smooth;
    
  
 
   
  }
  .product-container::-webkit-scrollbar{
    display: none;
  }
  .view_all{
    background-color: #003380;
    border: 1px solid #2e6da4;
    border-radius: 24px;
    color: #fff;
   display:flex;
   justify-content: center;
   align-items: center;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 16px;
    padding: 8px 24px;
    margin: auto;
}
  
  
  .product-card {
    flex: 0 0 auto;
    width: 19%;
    height: 400px;
    margin-right: 20px;
   
  }
  
  .brand_promise{
    color: #003380;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width:100%;
    
  }
  
  .product-image {
    position: relative;
    width: 65%;
    height: 180px;
    overflow: hidden;
    margin: auto;
    cursor: pointer;
    
  }
  .product-image:hover{
    width:70%;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .pre-btn>img{
    width:90%;
  
    padding:150% 10% 150% 10%;
  box-shadow: 0 1px 5px 0 #898989;
  }
  .nxt-btn>img{
    width:90%;
    
    padding:150% 10% 150% 10%;
    box-shadow: 0 1px 5px 0  #898989;
  }
  
 
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    color: #003380;
    font-size: 14px;
    height: 2.6em;
    line-height: 1.4em;
    margin-right: 20px;
    overflow: hidden;
    text-align: left;
    font-weight: 600;
    font-family: Roboto,"system-ui",sans-serif;
   cursor: pointer;
  }
  .product-short-description:hover{
    color:red
  }
  .description{
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    color:#333333;
    text-align: center;
    cursor: pointer;
  }
  .description:hover{
color: #003380;

  }
  
  .price {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    font-family: Roboto,"system-ui",sans-serif;
    line-height: 1.3rem;
    cursor: pointer;
  }
  
  .actual-price {
    color: #666;
    text-align: left;
    font-weight: 400!important;
    text-decoration: line-through;
    font-size: 14px;
    font-family: Roboto,"system-ui",sans-serif;
    cursor: pointer;
    line-height: 1.3rem;
  }
  .save{
    color: #666;
    font-size: 14px;
    font-weight: 400!important;
    text-align: left;
    font-family: Roboto,"system-ui",sans-serif;
    cursor: pointer;
    line-height: 1.3rem;
  }
  .amount{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 1.3rem;
  }
  .offers{
  
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(49, 129, 46);
    background: rgb(239, 252, 245);
    border: 1px solid rgb(49, 129, 46);
    border-radius: 16px;
    font-size: 10px;
    font-weight: 500;
    padding: 1px 6px;
    text-transform: uppercase;
   margin-top: 3%;
   text-align: left;
   cursor: pointer;
  }
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 2vw;
    height: 100%;
    position: absolute;
    top: 0;
   
   
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 25;
    overflow: hidden;
    
  }

  
  .pre-btn {
   left: -25px;
    transform: rotate(180deg);


  }
  
  .nxt-btn {
    right: -25px;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 1;
  }
  
 .last-btn{
  
    margin: auto;
   
    width:23%;
    height:100px
   
 }
  .last-btn>button{
    width:100%;
    height:45px;
    background-color: white;
    color: #faa619;
    border: 1px solid #D6D8F0;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    margin-top: 10%;
  }
  .boxshadow{
  
    width:100%;
    height:120px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }


.input-area{
    padding:10px 50px 10px 50px;
    margin-right: 2%;
    color: #003380;
    font-family: Roboto,"system-ui",sans-serif;
    border:1px solid #003380;
}
.customer-reviews>p{
    font-size: 13px;
    color: #333;
    font-family: Roboto,"system-ui",sans-serif;
}
.customer-reviews{
    margin-left: 5%;
}